doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/') Home
      li
        a(href='/items') All Items
      li
        a(href='/categories') All Categories
    block content
